---
layout: default
---

<h2>Examples of text</h2>

<p><strong>First name:</strong> <span data-print="first_name"></span></p>
<p><strong>Last name:</strong> <span data-print="last_name"></span></p>
<p><strong>Radio selection:</strong> <span data-print="radio_group"></span></p>
<p><strong>Radio follow-up answer:</strong> <span data-print="specify"></span></p>
<p><strong>Checkbox selection(s):</strong> <span data-print="checkbox_group"></span></p>

<p><strong>Checkbox followup:</strong> <span data-print="specify2"></span></p>

<hr>

<h2>Examples of inputs</h2>

{% include form-fields/_text-field.html
  id="first_name"
  label_text="First name"
  hint="This is what people call you"
  prepopulate="first_name"
%}

{% include form-fields/_text-field.html
  id="last_name"
  label_text="Last name"
  prepopulate="last_name"
%}

{% include form-fields/_radio.html
  name="radio_group"
  id="radio_1"
  label_text="This is radio 1"
  prepopulate="radio_group"
%}

{% include form-fields/_radio.html
  name="radio_group"
  id="radio_2"
  label_text="This is radio 2"
  follow_up="followup1"
  prepopulate="radio_group"
%}
