<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{{ page_title }}</title>

    <meta name="robots" content="noindex, nofollow" />

    <meta name="description" content="{{ page_description }}" />
    <link rel="canonical" href="{{ url_path }}" />

    <link rel="stylesheet" media="all" href="{{ site.baseurl }}/assets/stylesheets/application.css"></link>
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">

    <script src="{{ site.baseurl }}/assets/js/application.js"></script>
</head>
