<fieldset class="usa-fieldset">
  <legend class="usa-legend">{% if include.label_text %}{{ include.label_text }}{%else%}Date of birth{% endif %}
    {% if include.optional == "true" %}
      <span class="usa-hint">(optional)</span>
    {% endif %}
</legend>
  <span class="usa-hint" id="{{include.id}}_dobHint">For example: {% unless include.hide contains "month" %}04{% endunless %} {% unless include.hide contains "day" %}28{%endunless%} {% unless include.hide contains "year" %}1986{%endunless%}</span>
  <div class="usa-memorable-date">
    {% unless include.hide contains "month" %}
    <div class="usa-form-group usa-form-group--month">
      <label class="usa-label margin-top-1" for="{{include.id}}_month">Month</label>
      <input
        class="usa-input usa-input--inline"
        aria-describedby="{{include.id}}_dobHint"
        id="{{include.id}}_month"
        name="{{include.id}}_month"
        type="number"
        min="1"
        max="12"
        pattern="[0-9]*"
        {% if include.prepopulate %}data-print="{{ include.prepopulate }}_month"{% endif %}
        {% unless include.optional %}required{% endunless%}
        {% if include.disabled %}disabled{% endif %}
      >
    </div>
    {% endunless %}
    {% unless include.hide contains "day" %}
    <div class="usa-form-group usa-form-group--day">
      <label class="usa-label margin-top-1" for="{{include.id}}_day">Day</label>
      <input
        class="usa-input usa-input--inline"
        aria-describedby="{{include.id}}_dobHint"
        id="{{include.id}}_day"
        name="{{include.id}}_day"
        type="number"
        min="1"
        max="31"
        pattern="[0-9]*"
        {% if include.prepopulate %}data-print="{{ include.prepopulate }}_day"{% endif %}
        {% unless include.optional %}required{% endunless%}
        {% if include.disabled %}disabled{% endif %}
      >
    </div>
    {% endunless %}
    {% unless include.hide contains "year" %}
    <div class="usa-form-group usa-form-group--year">
      <label class="usa-label margin-top-1" for="{{include.id}}_year">Year</label>
      <input
        class="usa-input usa-input--inline"
        aria-describedby="{{include.id}}_dobHint"
        id="{{include.id}}_year"
        name="{{include.id}}_year"
        type="number"
        {% if include.min_year %}min="{{ include.min_year }}"{% endif %}
        {% if include.max_year %}max="{{ include.max_year }}"{% endif %}
        pattern="[0-9]*"
        {% if include.prepopulate %}data-print="{{ include.prepopulate }}_year"{% endif %}
        {% unless include.optional %}required{% endunless%}
        {% if include.disabled %}disabled{% endif %}
      >
    </div>
    {% endunless %}
  </div>
</fieldset>
