<div class="usa-radio">
  <input
    class="usa-radio__input {{ include.input_classes }}"
    id="{{ include.id }}"
    type="radio"
    {% if include.checked %}checked{% endif %}
    name="{{ include.name }}"
    value="{% if include.input_value %}{{ include.input_value }}{% else %}{{ include.label_text }}{% endif %}"
    {% if include.prepopulate %}data-print="{{ include.prepopulate }}"{% endif %}
    {% if include.follow_up %}data-followup="{{ include.follow_up }}" aria-controls="{{ include.follow_up }}" aria-expanded="false"{% endif %}
    {% if include.disabled %}disabled{% endif %}
    {% unless include.optional %}required{% endunless%}
  >
  <label class="usa-radio__label {{ include.label_classes }}" for="{{ include.id }}">{{ include.label_text }}</label>
</div>
