<label
  class="usa-label {{ include.label_classes }}"
  for="{{ include.id }}"
  aria-describedby="{{ include.id }}_hint">
    {{ include.label_text }}
    {% if include.optional == "true" %}
      <span class="usa-hint">(optional)</span>
    {% endif %}
</label>
{% if include.hint %}
<span
  class="usa-hint"
  id="{{ include.id }}_hint">
    {{ include.hint }}
</span>
{% endif %}

<select
  class="usa-select {{ include.input_classes }} {% if include.disabled %}usa-input--disabled{% endif %}"
  id="{{ include.id }}"
  {% if include.prepopulate %}data-print="{{ include.prepopulate }}"{% endif %}
  name="{{ include.id }}"
  {% unless include.optional %}required{% endunless%}
  {% if include.disabled %}disabled{% endif %}
  {% unless include.optional %}required{% endunless%}
  {% if include.disabled %}disabled{% endif %}>
    {% assign options = include.options | split: " | " %}
    {% for option in options %}
      <option value="{{ option }}" {% if option == include.follow_up_option %}data-followup="{{ include.follow_up }}" aria-controls="{{ include.follow_up }}" aria-expanded="false"{% endif %}>{{ option }}</option>
    {% endfor %}
</select>