// Settings
// -------------------------------------
@import '../uswds-sass/settings/settings-general';
@import '../uswds-sass/settings/settings-typography';
@import '../uswds-sass/settings/settings-color';
@import '../uswds-sass/settings/settings-spacing';
@import '../uswds-sass/settings/settings-utilities';
@import '../uswds-sass/settings/settings-components';

// Tools
// -------------------------------------
@import '../uswds-sass/core/functions';
@import '../uswds-sass/core/system-tokens';
@import '../uswds-sass/core/variables';
@import '../uswds-sass/core/properties';
@import '../uswds-sass/core/mixins/all';

// Generic
// -------------------------------------
@import "styles.css";

// Project settings
@import "variables";

// Project CSS
@import "base/base";
@import "base/forms";
