<!DOCTYPE html>
<html lang="en">

{% include _head.html %}

<body class="bg-primary-lighter">
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  {% include _banner.html %}

  <main id="main-content" class="main-content">
    <div class="grid-container">
    <div class="grid-row margin-y-7">
      <div class="tablet:grid-col-9 margin-x-auto">
        <div class="bg-white border-1px padding-2">
          {{ content }}
        </div>
      </div>
    </div>
  </main>

  <script src="{{ site.baseurl }}/assets/js/shims/svg4everybody.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
